body{
 background: #282c34;
 color: thistle;
}


.navBar{
 display: flex;
 justify-content: space-between;
 margin: 0px 0px 5px 0px;
 background: skyblue;
}
.navBar ul{
 display: flex;
 list-style: none;
 text-decoration: none;
 
}
.navBar ul li{
 padding: 5px;
}

.Card{
 background: #fff;
 color: #333;
 box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
 margin: 20px 20px;
 max-width: 250px;
}
.Card img{
 max-width: 250px;
}
.eventTitle h4{
 overflow-wrap: break-word;
}


.cardsWrapper{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 width: 80%;
}

/*Registeration Form*/
.UserDetails{
 display: flex; 
 flex-direction: column;
 justify-content: center; 
 align-items: center;
}
.registerForm .formError{
 background: whitesmoke;
 color: red;
 display: flex;
}
.registerForm{
 max-width: 260px;
}
.registerForm > *{
 margin: 2px 0px;
}
.registerForm > input{
 width: 250px;
}

.registerForm> [name='birthday']{
width: 185px;
}
.registerForm> [name='epxDate']{
width: 166px;
}
.registerForm hr{
 width: 260px;
}


/*GenresCarousel*/
.genresWrapper{
 display: flex;
 overflow-x: scroll;
}
.GenreCard{
 border: 1px solid #FFF;
 padding: 0px 5px;
 margin: 0 5px;
 width: 150px;
 height: 150px;
}

/*MovieDetails*/
.movieContent{
 display: flex;
 width: 80%;
 justify-content: flex-end;
}
.mdPoster{
 width: 300px;
}
.mdContent{
 padding: 20px;
 text-align: left;
}

/*Seating Plan*/
.seatingPlan{
 display: flex;
 flex-direction: column;
 margin: 10px;
 padding: 10px;
 font-size: 20px;
 align-items: center;
}
.row{
 display: flex;
 margin: 5px;
}
.seatNumber{
 list-style: none;
 margin: 2px 5px;
 display: inline;
	padding: 2px;
	background-color: #5c86eb;
	color: #FFF;
	border-radius: 5px;
	cursor: default;
	height: 25px;
	width: 25px;
	line-height: 20px;
	text-align: center;
}
.seatNumber[data-seat]{
 position: relative;
 text-decoration: none;
}
.seatNumber[data-seat]:hover::before{
 content: attr(data-seat);
 position: absolute;
 background: green;
 font-size: 12px;
 width: 130px;
 z-index: 1;
 left: 23px;
 top: -20px;
 border-radius: 5px;
 border: 1px solid #FFF;
 padding: 2px;
}
.blue{
 background: blue; 
}
.gray{
 background: gray;
}

.seatsAndBasket{
 display: flex;
 justify-content: center;
}
.basketItem{
 margin: 3px 0;
}